---
import { getPosts } from "../lib/sanity";

import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = await getPosts();

---

<Base title="diego's writings" description="poetry, posts, journal entries">
  <Nav />
  <div class="text-sm antialiased mt-10 max-w-4xl text-center mx-auto py-20">
    <div class="max-w-lg mx-auto">
      <form
          action="https://formspree.io/f/xpzvzbay"
          method="POST"
          >
          <input type="email" name="email" placeholder="Email address" class="py-3 px-4 bg-neutral-100 focus:outline-none active:border-none">
          <button type="submit" class="pl-4 hover:text-[#FF0000] transition duration-300">Sign up</button>
      </form>
    </div>
  </div>
  {
  posts.length ? posts.map((post) => (
  <div class="w-full mx-auto text-center flex flex-col group transition duration-300 antialiased">
    <a href={`/posts/${post.slug.current}/`}>
      <div class="flex flex-col">
        <span class="font-serif text-[11vw] md:text-[7vw] lg:text-[6vw] tracking-tight group-hover:text-black transition duration-300">{post.title}</span>
        <span class="text-xs md:text-base pt-1 md:pt-0 pb-3 md:pb-5">{post.excerpt}</span>
      </div>
      <div class="h-full items-center">
        <p class="text-xs text-neutral-400">
        {post.tags} —
        <FormattedDate date={post.publishedAt} />
        </p>
      </div>
    </a>
  </div>
  )): <div class="text-center">No posts yet</div>
  }
</Base>
