---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import FormattedDate from "../components/FormattedDate.astro";
const allPosts = await getCollection("posts");
---

<Base title="diego's writings" description="poetry, posts, journal entries">
  <Nav />
  <div class="text-sm antialiased mt-10 max-w-4xl text-center mx-auto py-20">
    <div class="max-w-lg mx-auto">
      <form
          action="https://formspree.io/f/xpzvzbay"
          method="POST"
          >
          <input type="email" name="email" placeholder="Email address" class="py-3 px-4 bg-neutral-100 focus:outline-none active:border-none">
          <button type="submit" class="pl-4 hover:text-[#FF0000] transition duration-300">Sign up</button>
      </form>
    </div>
  </div>
  {
  allPosts
  .sort((a, b) => new Date(b.data.date) - new Date(a.data.date))  // Sort posts by date in descending order
  .map((post) => (
  <div class="w-full mx-auto mb-24 text-center flex flex-col group transition duration-300 antialiased">
    <a href={`/posts/${post.slug}/`}>
      <div class="flex flex-col">
        <p class="mb-3 font-serif text-4xl md:text-6xl tracking-tight group-hover:text-black transition duration-300">{post.data.title}</p>
        <p class="text-xs md:text-base pt-1 md:pt-0 pb-3 md:pb-5">{post.data.excerpt}</p>
      </div>
      <div class="text-xs text-neutral-400 group-hover:text-neutral-700 pt-0.5 transition duration-300">
        {post.data.tags} —<FormattedDate date={post.data.date} />
      </div>
    </a>
  </div>
  ))
  }

</Base>
