---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import FormattedDate from "../components/FormattedDate.astro";
const allPosts = await getCollection("posts");
---

<Base title="diego's writings" description="poetry, posts, journal entries">
  <Nav />
  <div class="text-sm antialiased mt-10 max-w-4xl text-center mx-auto py-20">
    <div class="max-w-lg mx-auto">
      <form
          action="https://formspree.io/f/xpzvzbay"
          method="POST"
          >
          <label>
            To keep up with the writings:
            <input type="email" name="email">
          </label>
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>
  {
  allPosts.map((post) => (
  <div class="w-full mx-auto text-center flex flex-col group transition duration-300 antialiased">
    <a href={`/posts/${post.slug}/`}>
      <div class="flex flex-col">
        <span class="font-serif text-[10vw] md:text-[7vw] lg:text-[6vw] tracking-tight group-hover:text-black transition duration-300">{post.data.title}</span>
        <span class="pb-5">{post.data.excerpt}</span>
      </div>
      <div class="text-xs text-neutral-400 group-hover:text-neutral-700 pt-0.5 transition duration-300">
        {post.data.tags} —<FormattedDate date={post.data.date} />
      </div>
    </a>
  </div>
  ))
  }


</Base>
